.section {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    text-align: center;
  }
  
  .leftSide, .rightSide {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 2em;
    background-color: #222;
    border-left: 1px solid black;

    .span {
      position: absolute;
      bottom: 5rem;
    }
  }
  
  .leftSide {
    left: 0;

    .span {
      left: 2rem;
    }
  }
  
  .rightSide {
    right: 0;

    .span {
      right: 2rem;
    }
  }
  
  .number {
    font-size: 10rem;
    z-index: 1;
    background-color: black;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
