
.commanderDamageSection {
  background-color: #444;
  border-radius: 1rem;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  display: flex;
  position: absolute;
  direction: column;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  /* height: 25%; */
}

.commanderDamageLeft, .commanderDamageRight {
  
  border-radius: 1rem;
  position: absolute;
  display: flex;
  flex-direction: row;;
  width: 50%;
  top: 0;
  height: 100%;
  /* border: 1px solid black; */
}

.commanderDamageLeft {
  /* border-top-left-radius: 1rem; */
  left: 0;
}

.commanderDamage {
  font-size: 4rem;
}