.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  position: relative;
  border-top: 1px solid black;
}

.leftSide, .rightSide {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  border-radius: 2em;
  background-color: #222;
  border-left: 1px solid black;
}

.leftSide {
  left: 0;
  cursor: pointer;
}

.rightSide {
  right: 0;
  cursor: pointer;
}

.number {
  font-size: 10rem;
  z-index: 1;
  background-color: black;
  border-radius: .1em;
  padding-left: .1em;
  padding-right: .1em;
}

.commanderDamageSection {
  background-color: black;
  border-radius: 1rem;
  display: flex;
  direction: row;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  height: 10%;
}

.commanderDamageLeft, .commanderDamageRight {
  height: 100%;
  width: 2rem;
  font-size: 2rem;
  top: 50%;
  right: 50%;
}

.commanderDamage {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  padding: 1rem;
}